.header::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('../../public/images/Clinica-sala-de-espera.jpg') no-repeat
    center center/cover;
  filter: brightness(0.7);
}

.header {
  position: relative;
  height: 600px;
}

.header-content {
  position: relative;
  display: flex;
  max-width: 940px;
  margin: auto;
  padding-top: 150px;
  align-items: center;
}

.title {
  margin: 0 5%;
  width: 50%;
  line-height: 1.15;
  font-size: 3rem;
  font-weight: 300;
  color: var(--light-color);
}

.title {
  text-align: center;
  font-weight: 100;
}

@media (max-width: 700px) {
  .header {
    height: 80dvh;
  }
  .title {
    width: 100%;
    text-align: start;
    font-size: 3rem;
    font-weight: 300;
  }
}
