.header::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url("../../public/images/Clinica-sala-de-espera.jpg") no-repeat center center/cover;
  filter: brightness(0.7);
}

.header {
  position: relative;
  height: 600px;
}

.header-content {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 80%;
  max-width: 940px;
  margin: auto;
  padding-top: 150px;
  align-items: center;
}

.title {
  margin: 0 5%;
  width: 50%;
  line-height: 1.15;
  font-size: 3rem;
  font-weight: 300;
  color: var(--light-color);
  /* text-shadow: 2px 2px 4px #aaa; */
}

.title {
  text-align: center;
}

.title h1 {
  font-weight: 100;
}
