.infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 250px;
    width: 900px;
    background: #fff;
    margin-top: -70px;
    padding: 0 20px;
    text-align: center;
    box-shadow: 0 -3px 3px var(--light-color);
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 100;
    color: var(--primary-color);
}

.card {
    height: 190px;
    margin: 30px 15px;
    padding: 25px;
}