.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 15px;
    width: 270px;
    height: 100px;
    background-color: var(--light-background);
    border: 1px solid var(--light-background);
    border-radius: 10px;
    padding: 7px 20px;
}

.link{
    cursor: pointer;
}

.card h4 {
    flex-basis: 185px;
}