.citacao {
  position: relative;
  min-height: 170px;
  background-color: var(--dark-color);
  color: var(--light-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.citacao h3 {
  max-width: 1200px;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 30px;
  text-align: center;
}

.citacao h3::before {
  content: open-quote;
  position: absolute;
  font-size: 4em;
  opacity: 0.3;
  top: 0.2rem;
  left: 1rem;
}

@media (max-width: 800px) {
  .citacao h3 {
    font-size: 2rem;
  }

  .citacao h3::before {
    top: 0.1rem;
    left: 1.5rem;
  }
}

@media (max-width: 500px) {
  .citacao {
    min-height: 120px;
  }

  .citacao h3 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .citacao h3::before {
    top: 0.1rem;
    left: 1.5rem;
  }
}
