.description {
    display: flex;
    align-items: center;
    min-height: 500px;
    max-width: 1220px;
    margin: auto;
}

.image {
    flex: 1;
    position: relative;
    height: 500px;
    width: 50vw;
}

.image::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(to right, transparent, #fff);
    inset: 0;
}

.text {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.text p {
    color: var(--primary-color);
    margin-bottom: 5px;
}

.home-description {
    font-size: 1.5rem;
    font-weight: 400;
}