.description {
    display: flex;
    align-items: center;
    height: 500px;
    max-width: 1220px;
}

.image {
    flex: 2;
    position: relative;
    height: 100%;
    width: 50vw;
}

.image::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(to right, transparent, #fff);
    inset: 0;
    z-index: 10;
}

.text {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.text p {
    /* font-size: 1.5rem; */
    color: var(--primary-color);
    margin-bottom: 5px;
}