.wrapper {
    height: 300px;
    background-color: #aaa;
    
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 1220px;
  margin: auto;
  padding: 2rem 2rem;
}

.footer > * {
    /* flex: 1; */
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  align-self: flex-start;
  position: relative;
  top: 15px;
  left: 15px;
  height: 80%;
  width: 20%;
}

.links {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    gap: 10px;
}