.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aaa;
  height: 300px;
  padding: 2rem 0;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  position: relative;
  height: 100%;
}

.links {
    display: flex;
    gap: 10px;
}