.navbar {
    position:fixed;
    width: 100%;
    z-index: 1000;
    transition: all 1s ease-in-out;
}

.navbar-top {
    color: var(--light-color);
    height: 120px;
    background-color: transparent;
}

.navbar-scroll {
    color: var(--dark-color);
    height: 70px;
    background-color: #eee;
}

.content {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 940px;
    height: 100%;
    margin: auto;
}

.menu-dropdown {
    align-items: center;
    height: 170px;
    background-color: #eee;
    margin-top: -20px;
    padding: 10px;
}

.menu-dropdown li {
    margin-top: 5px;
}

.logo {
    flex: 0.4;
    position: relative;
    height: 150px;
    border-radius: 100px;
    margin-top: 20px;
    margin-left: 40px;
    overflow: hidden;
}

.logo-text {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo-text h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 15px;
    padding: 0;
}

.menu-icon {
    margin: 15px
}

.links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.links-column {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.links li {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.links li:hover {
    border-top: 3px solid var(--primary-color);
    color: var(--light-color);
    text-shadow: 1px 1px 1px #333;
}