.navbar {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    height: 20%;
    z-index: 10;
    color: var(--primary-color);
}

.content {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0);
    text-shadow: 1px 1px 1px #ddd;
    min-height: 100px;
    max-width: 1220px;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.links li {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.links li:hover {
    border-top: 3px solid var(--primary-color);
    color: var(--light-color);
    text-shadow: 1px 1px 1px #333;
}