.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: all 0.5s ease;
  color: var(--light-color);
}

.navbar-mobile {
  position: absolute;
  z-index: 10;
  width: 100%;
  color: var(--light-color);
  height: 60px;
  background-color: var(--dark-color);
  transition: all 0.5s ease;
}

.navbar-top {
  height: 120px;
  background-color: transparent;
}

.navbar-scroll {
  height: 100px;
  background-color: var(--dark-color);
}

.content {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  max-width: 1000px;
  height: 100%;
  margin: auto;
}

.logo {
  flex: 0 0 150px;
  position: relative;
  height: 150px;
  border-radius: 100px;
  margin-top: 20px;
  margin-left: 40px;
  overflow: hidden;
}

.logo-small {
  flex: 0 0 250px;
  position: relative;
  height: 100px;
  margin-top: 0px;
  align-items: center;
}

.menu-icon {
  margin: 18px;
  transform: scale(1.2);
}

.links {
  display: flex;
  list-style: none;
}

.links li {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.links li:hover {
  border-top: 3px solid var(--primary-color);
  color: var(--light-color);
  text-shadow: 1px 1px 1px #333;
}

.drop-down-list {
  background-color: var(--dark-color);
  opacity: 0.9;
  color: var(--light-color);
  text-shadow: none;
  position: absolute;
  right: -100px;
  padding: 20px 50px;
  border-top: 2px solid #333;
  filter: brightness(150%);
  animation: slide-down 0.5s ease-out;
  width: 280px;
}

.navbar-top .drop-down-list {
  top: 100px;
}

.navbar-scroll .drop-down-list {
  top: 85px;
}

.drop-down-list span {
  display: block;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--light-color);
}

.drop-down-list li {
  margin: 5px 0;
  font-size: 0.9rem;
  font-weight: 300;
}

.drop-down-list li:hover {
  border: none;
  text-shadow: 1px 1px 2px var(--primary-color);
}

.drop-down-list > div {
  margin-bottom: 25px;
}

.drop-down-list > div:last-child {
  margin-bottom: 0;
}

.menu-dropdown {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: var(--dark-color);
  padding: 0 20px 10px;
}

.menu-dropdown li {
  margin-top: 5px;
  position: relative;
}

.menu-dropdown .links-column .drop-down-list {
  background-color: inherit;
  color: inherit;
  text-shadow: none;
  position: static;
  padding: 10px 20px 0;
  border-top: none;
  animation: slide-down 0.5s ease-out;
}

.links-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

@keyframes slide-down {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 0.9;
  }
}

@media (max-width: 850px) {
  .links li {
    font-size: 0.9rem;
    margin: 0 10px 5px;
  }

  .navbar-top {
    height: 100px;
  }

  .drop-down-list {
    right: -70px;
    padding: 20px 30px;
    width: 230px;
  }

  .navbar-top .drop-down-list {
    top: 80px;
  }

  .navbar-scroll {
    height: 70px;
  }

  .navbar-scroll .drop-down-list {
    top: 60px;
  }

  .content {
    font-weight: 400;
  }

  .logo {
    flex: 0 0 120px;
    height: 120px;
    margin-top: 10px;
    margin-left: 20px;
  }

  .logo-small {
    flex: 0 0 200px;
    height: 70px;
  }
}

@media (max-width: 670px) {
  .links li {
    font-size: 0.8rem;
    margin: 0 6px 5px;
  }

  .navbar-top {
    height: 80px;
  }

  .navbar-top .drop-down-list {
    top: 70px;
  }

  .navbar-scroll {
    height: 60px;
  }

  .navbar-scroll .drop-down-list {
    top: 50px;
  }

  .drop-down-list {
    right: -40px;
    padding: 20px 20px;
    width: 180px;
  }

  .logo {
    flex: 0 0 100px;
    height: 100px;
    margin-top: 5px;
    margin-left: 15px;
  }

  .logo-small {
    flex: 0 0 200px;
    height: 60px;
  }
}

@media (max-width: 575px) {
  .navbar-mobile li {
    width: 100%;
    padding: 10px;
  }
}
