.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  min-height: 500px;
  max-width: 1200px;
  margin: auto;
  padding: 70px 30px;
}

.foto-container {
  position: relative;
  height: 240px;
  width: 350px;
}

.foto-container:hover img {
  transition: transform 0.5s;
  transform: scale(1.1);
}